.header{
    display: flex;
    justify-content:space-between;
    
    background-color:#FFF4E7 ;
    padding:0 20px;

}


ul{
    display: flex;
    gap:30px;
}
li a{
    text-decoration: none;
    text-transform: capitalize;
    color:black;
}
li{
    list-style-type: none;
}
.headerarea{
    background-color:#FFF4E7;
}
.headingtext{
    text-align: center;
    max-width: 70%;
    margin:0 auto;
    padding:60px;

}
.btn{
    background-color: #FF900E;
    color:white;
    border-radius:10px;
    padding:17px;
    border:none;
}
.imgsection{
    display: flex;
    gap:30px;
   
    align-items: center;
}
.grid-img{
    display: grid;
    grid-template-columns: auto auto;
    gap:20px;

}
.grid-img>img{
    width:200px;
}
.container2{
    margin:0 auto;
    width:60%;
}



.container4{
    margin:0 auto;
    width:60%;
}
.container5{
    display: flex;
    gap:20px;
    width:60%;
    margin:0 auto;
    align-items: center;
    padding-top:60px;
}
.textsection4{
    width:100%;
}
.imgsction{
    width:100%;
}
.textareaone{
    padding:20px;
}
.boxone{
    background-color: #FF900E;
    display: inline-block;
    padding:0 20px;
    margin-top:-50px;
    color:white;
}
.factsection{
    width:60%;
    margin:0 auto;
    padding:30px;
}
.imgboxsection{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:70px;
    padding:20px 30px;
}
.imagboxone{
    text-align: center;
    border:1px solid #FF900E;
    padding-top:10px;
}
.textsponsor{
    text-align: center;
}
.iconsponsor{
    padding:40px;

}
.iconsponsor>img{
    width:100px;
}
.iconsponsor{
    display: grid;
    justify-content: space-between;
    grid-template-columns:auto auto auto auto auto;
}

    .sponsorsection{
        width:60%;
        margin:0 auto;
    }
    footer{
        background-color: #ff8f0e3b;
        padding: 10px;
        text-align: center;
        margin-top:30px;

    }